{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            font-family: "plantc", "Source Han Serif", serif;
            font-weight: bolder;
            text-decoration: none;
        }
        footer {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar"
            ></button>
            <a href="/note/index" class="navbar-brand">Learning Log</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/note/topics">Topics</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="#">Hello, {{ user.username }}</a></li>
                    <li><a href="/users/logout">log out</a></li>
                {% else %}
                    <li><a href="/users/register">register</a></li>
                    <li><a href="/users/login">log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h2>Topic: {{ topic }}</h2>
        <small>Entries:</small>
    </div>
</div>
<div class="container">
    <p><a href="/note/new_entry/{{ topic.id }}">Add new entry</a></p>

    {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{ entry.date_added | date:'M d, Y H:i' }}
                    <small><a href="/note/edit_entry/{{ entry.id }}">Edit entry</a></small>
                </h3>
            </div>
            <div class="panel-body">
                {{ entry.text | linebreaks }}
            </div>
        </div>
    {% empty %}
        <li>There are no entries for this topic yet.</li>
    {% endfor %}
</div>
<footer class="footer">
    <h4>Copyright &copy; 2019 Akashi_Sai. All Rights Reserved.</h4>
</footer>

{#    <div>#}
{#        <a href="/note/index">Learning Log</a> -#}
{#        <a href="/note/topics">Topics</a>#}
{#    </div>#}
{#    <div>#}
{#        <p>Topic: {{ topic }}</p>#}
{#    </div>#}
{#    <div>#}
{#        <p>Entries:</p>#}
{#        <ul>#}
{#            {% for entry in entries %}#}
{#                <li>#}
{#                    <p>{{ entry.date_added }}</p>#}
{#                    <p>{{ entry.text }}</p>#}
{#                    <p>#}
{#                        <a href="/note/edit_entry/{{ entry.id }}">Edit entry</a>#}
{#                    </p>#}
{#                </li>#}
{#            {% empty %}#}
{#                <li>There are no entries for this topic yet.</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#    <div>#}
{#        <a href="/note/new_entry/{{ topic.id }}">Add a new entry</a>#}
{#    </div>#}
</body>
</html>