{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            font-family: "plantc", "Source Han Serif", serif;
            font-weight: bolder;
            text-decoration: none;
        }
        footer {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h2>Register an account.</h2>
    </div>
</div>
<div class="container">
    <form action="/users/register" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">register</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="/note/index">
    </form>
</div>
<footer class="footer">
    <h4>Copyright &copy; 2019 Akashi_Sai. All Rights Reserved.</h4>
</footer>

{#    <div>#}
{#        <a href="/note/index">Learning Log</a> -#}
{#        <a href="/note/topics">Topics</a> -#}
{#        {% if user.is_authenticated %}#}
{#            Hello, {{ user.username }}.#}
{#            <a href="/users/logout">logout</a>#}
{#        {% else %}#}
{#            <a href="/users/register">register</a>#}
{#            <a href="/users/login">login</a>#}
{#        {% endif %}#}
{#    </div>#}
{##}
{#    <form action="/users/register" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{##}
{#        <button name="submit">register</button>#}
{#        <input type="hidden" name="next" value="/note/index">#}
{#    </form>#}
</body>
</html>